* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  background: none;
  box-sizing: border-box;
  overflow-x: hidden;
}

.bg-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url('images/1_background-cover.jpg') center center/cover no-repeat, #222;
  z-index: 0;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background: rgba(0,0,0,0.3);
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100px;
}

.nav-left {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-left .logo {
  width: 75px;
  height: 75px;
  display: block;
  border-radius: 50%;
  object-fit: cover;
  padding: 1px;
  background: rgba(255, 255, 255, 0.1);
}

.nav-menu {
  display: flex;
  gap: 100px;
  list-style: none;
}

.nav-menu li a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  transition: color 0.2s;
  position: relative;
}

.nav-menu li a:hover {
  background-color: #000000;
  color: #b60b69;
}

.nav-right {
  display: flex;
  gap: 15px;
}

.login-btn, .download-btn {
  text-decoration: none;
  padding: 8px 18px;
  font-weight: 1000;
  border-radius: 100px;
  background-color: #b60b69;
  color: #fff;
}

.login-btn:hover, .download-btn:hover {
    background-color: #000000;
    color: #b60b69;
}

.content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0,0,0,0.3);
    box-sizing: border-box;
    padding: 150px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content h1 {
    font-size: 60px;
    color: #000000;
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
}

.content p {
    font-size: 30px;
    font-style: italic;
    color: #000000;
    margin-bottom: 60px;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.7);
}

.content .get-started-btn {
    text-decoration: none;
    margin-right: auto;
    padding: 8px 18px;
    font-weight: 700;
    border-radius: 100px;
    background-color: #b60b69;
    color: #fff;
}

.content .get-started-btn:hover {
    background-color: #000000;
    color: #b60b69;
}

.fashion-girl {
    position: fixed;
    top: 100px; 
    right: 0;
    width: 50%;
    height: calc(100vh - 100px);
    object-fit: cover;
    z-index: 10;
}

.anim {
  animation: moveUpDown 2s ease-in-out infinite; 
}

@keyframes moveUpDown {
    0%, 100% { 
      transform: translateX(0); 
    }
    50% { 
      transform: translateX(-10px); 
    }
}